<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.school.hotel.mapper.RoomMapper">
    <select id="getRooms" resultType="room">
        select * from room
        <where>
            <if test="roomTypeId != null">
                roomTypeId = #{roomTypeId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="floorId != null">
                and floorId = #{floorId}
            </if>
            <if test="sn != null">
                and sn = #{sn}
            </if>
        </where>
        order by sn
        <if test="startPage != null and pageSize != null">
            limit #{startPage}, #{pageSize}
        </if>
    </select>
    <select id="getTotalCount" resultType="int">
        select count(*) from room
        <where>
            <if test="roomTypeId != null">
                roomTypeId = #{roomTypeId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="floorId != null">
                and floorId = #{floorId}
            </if>
            <if test="sn != null">
                and sn = #{sn}
            </if>
        </where>
    </select>
    <update id="updateRoom" parameterType="room">
        update room set photo = #{photo}, sn = #{sn}, roomTypeId = #{roomTypeId}, floorId = #{floorId}, status = #{status}, remark = #{remark}
        where id = #{id};
    </update>

    <delete id="deleteRoomById" parameterType="long">
        delete from room where id = #{id};
    </delete>

    <insert id="addRoom" parameterType="room">
        insert into room(photo, sn, roomTypeId, floorId, status, remark) values
        (#{photo}, #{sn}, #{roomTypeId}, #{floorId}, #{status}, #{remark});
    </insert>
</mapper>
